.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  min-height: 0;
  padding-bottom: calc(var(--offset-base-size) * 10);
  color: var(--text-primary-color);
}

.slot_top,
.slot_bottom {
  flex-shrink: 0;
}

.slot_middle {
  flex-shrink: 0;
  max-height: calc(100% - 12rem);
  overflow-y: auto;
}

.slot_hover {
  outline: 1px solid #4c4cff;
  outline-offset: calc(var(--offset-base-size) * 1);
}

.row {
  display: grid;
  grid-template-columns: calc(var(--offset-base-size) * 10) minmax(0, 536px);
  align-items: center;
}

.row_bun {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  max-width: 536px;
  margin-left: calc(var(--offset-base-size) * 10);
}

.drag {
  justify-self: center;
}

.element {
  width: 100%;
  min-width: 0;
}

.drop_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  max-width: 536px;
  min-height: 80px;
  margin-left: calc(var(--offset-base-size) * 10);
  padding: calc(var(--offset-base-size) * 4) calc(var(--offset-base-size) * 6);
  background: var(--background-element);
  border-radius: var(--common-border-radius-s);
}

.drop_zone_top {
  border-radius: var(--top-constructor-item-border-radius);
}

.drop_zone_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}

.list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.row_footer {
  flex-shrink: 0;
}

.footer {
  display: flex;
  grid-column: 2;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--offset-base-size) * 10);
}

.price {
  display: flex;
  align-items: center;
  gap: calc(var(--offset-base-size) * 2);
  margin: 0;
}
