.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.code {
  margin: 0;
  line-height: 1;
}
