.card {
  display: block;
  box-sizing: border-box;
  width: 584px;
  color: var(--text-primary-color);
  text-decoration: none;
  background-color: var(--background);
  border-radius: 40px;
  cursor: pointer;
}

.cardWide {
  width: 844px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  margin: 0;
}

.date {
  margin: 0;
}

.name {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.status {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.statusDone {
  color: #0cc;
}

.details {
  display: flex;
  align-items: center;
  gap: calc(var(--offset-base-size) * 6);
}

.ingredients {
  display: flex;
  height: 64px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredient {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background:
    linear-gradient(#131316, #131316) padding-box,
    linear-gradient(to right, #801ab2, #4c4cff) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.ingredient:not(:first-child) {
  margin-left: -16px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.hiddenCount {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(28 28 33 / 60%);
  border-radius: 50%;
}

.price {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: calc(var(--offset-base-size) * 2);
  margin: 0 0 0 auto;
}
