.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.image {
  width: 240px;
  height: 120px;
  object-fit: contain;
}

.price {
  display: flex;
  align-items: center;
  gap: calc(var(--offset-base-size) * 2);
}

.name {
  margin: 0;
}
